@charset "utf-8";
@import '../normalize.css/normalize.css';

body, html {
	margin: 0px;
}

a {
	text-decoration: none;
}

section {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-top: 1px solid rgb(242, 242, 242);

	width: 96%;
	max-width: 640px;
	margin: 0 auto;
}

figure {
	margin: 0px;
}

figcaption {
	padding-top: 10px;
	text-align: center;
}

img {
	width: 100%;
	max-width: 640px;
}

#header_buffer {
	height: 80px;
	background-color: rgb(242, 242, 242);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

.content_wrapper {
	padding: 20px 0px;
}
